<h1>Create Your Snippets</h1>

<%= form_for @snippet do |f| %>
<div>
  <%= f.label :kind_id %>
  <%= f.collection_select(:kind_id, Kind.order(:name), :id, :name) %>
</div>
<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>
<div>
  <%= f.submit %>
</div>
<% end %>
